/* main importing each css page */


/* nothing to do here */

@import url("card-grid.css");
@import url("navbar.css");
@import url("recipe-page.css");
:root {
    --color1: #f3f8f2;
    --color2: #3581b8;
    --color3: #fcb07e;
}

#content {
    width: 100%
}

.col-2 {
    background-color: var(--color2);
}

h3 {
    color: var(--color2);
}

#sidebarHeader {
    color: var(--color1) !important;
}

#sidebar.active {
    margin-left: -250px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        width: 250px;
        /* fix the broken sidebar 1/3  */
        height: 100vh;
        /* fix the broken sidebar 2/3  */
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 250px;
        /* fix the broken sidebar 3/3 */
    }
}


/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.card-img-top-index {
    padding: 1em;
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 1em;
}

.first-row-recipes,
.second-row-recipes {
    margin: 1%;
}

.card,
.card-text,
.card-title {
    align-items: center;
}

.card-title {
    display: none;
    position: absolute;
    background-color: #7386D5;
    top: 6em;
    max-width: 9em;
    margin: 0 auto;
    padding: 1em;
    opacity: 0.9;
    border-radius: 5px;
    color: white;
}

.card-text,
.card-title,
#recipeFive {
    text-align: center;
}

.card-footer {
    align-self: center;
    background: white;
}

#sidebarCollapse {
    background-color: #7386D5;
    border: 1px solid #7386D5;
}